<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-striped">
	<thead>
		<tr>
			<th><%= sortable "name" %></th>
			<th><%= sortable "price" %></th>
			<th class="small"></th class="small">
		</tr>
	</thead>

	<tbody id="items">
		<% @items.each do |item| %>
			<%= render partial:"item_list_row", locals:{item:item} %>
		<% end %>
	</tbody>
</table>
<%= will_paginate @items %>
