<tr id="item-<%= item.id %>">
	<td class="small"><%= link_to 'x', item, method: :delete, class:"btn btn-info", remote:true %></td>
	<td><%= item.name %></td>
	<td><%= item.amount %></td>
	<td class="small"><%= link_to 'Edit', edit_item_path(item), class:"btn" %></td>
</tr>
