<ul>
	<li><%= link_to "View", current_shopping_lists_path%></li>
	<li><%= link_to "Manage", shopping_lists_path %></li>
	<% if user_signed_in? %>
		<li class="pull-right">
			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		</li>
		<li class="pull-right">
			<%= link_to current_user.username, edit_user_registration_path %>
		</li>
	<% else %>
		<li class="pull-right">
			<%= link_to "Register", new_user_registration_path %>
		</li>
		<li class="pull-right">
			<%= link_to "Sign In", new_user_session_path %>
		</li>
	<% end %>
</ul>
